.git
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
bin/
obj/
*.exe
*.dll
*.so
*.dylib
.DS_Store
.idea/
.vscode/
*.swp
poker-server
run_tests
